@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

:root {
    --hs-width: 150px;
    --hs-height: calc(var(--hs-width) / 2);
    --hs-thickness: 10px;
    --hs-before-width: calc(var(--hs-width) - 2 * var(--hs-thickness));
    --hs-before-height: calc(var(--hs-height) - var(--hs-thickness));
    --header-color: var(--tg-theme-bg-color, #282c34);
}

div:focus, div:active {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Dosis;
    background-color: #f4f4f4;
    color: #333;
    font-size: 12px;
}

/* Hide arrows in WebKit browsers (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide arrows in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


.container {
    position: relative;
    height: var(--hs-height);
}

.rectangle {
    width: var(--hs-width);
    /* Long side */
    height: var(--hs-height);
    /* Short side */
    position: relative;
    background-color: transparent;
}

.semicircle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: var(--hs-width);
    height: var(--hs-height);
    border-top-left-radius: var(--hs-width);
    border-top-right-radius: var(--hs-width);
    background: conic-gradient(from 270deg at bottom,
            rgb(255, 0, 0) 0deg,
            orange 45deg,
            yellow 80deg,
            rgb(8, 173, 8) 120deg,
            rgb(0, 68, 255) 160deg,
            rgb(0, 68, 255) 180deg,
            red);
}

.semicircle::after {
    content: '';
    position: absolute;
    top: 0;
    /* Position slightly outside the semicircle */
    left: 0;
    width: var(--hs-width);
    /* Make the shadow larger */
    height: var(--hs-height);
    border-top-left-radius: var(--hs-width);
    border-top-right-radius: var(--hs-width);
    background: conic-gradient(from 270deg at bottom,
            rgba(255, 0, 0, 0.2) 0deg,
            rgba(255, 165, 0, 0.2) 45deg,
            rgba(255, 255, 0, 0.2) 80deg,
            rgba(8, 173, 8, 0.2) 120deg,
            rgba(0, 68, 255, 0.2) 160deg,
            rgba(0, 68, 255, 0.2) 180deg,
            rgba(255, 0, 0, 0.2));
    filter: blur(10px);
    /* Add blur to make it shadow-like */
}

.semicircle::before {
    content: '';
    position: absolute;
    top: var(--hs-thickness);
    left: var(--hs-thickness);
    width: var(--hs-before-width);
    height: var(--hs-before-height);
    background-color: var(--header-color);
    border-radius: var(--hs-before-height) var(--hs-before-height) 0 0;

}

.mark {
    position: absolute;
    width: 3px;
    /* Mark radius */
    height: 15px;
    /* Mark radius */
    /*border-radius: 50%;*/
    transform-origin: center;
    /* Rotate around its center */
    transition: left 0.035s ease, top 0.035s ease, transform 0.035s ease;
    /* Smooth movement */
    width: 0;
    height: 0;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 15px solid #fff;
    /* Color of the triangle */
    z-index: 1;
}

/* Score in the center */
.score {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 16px;
    font-weight: bold;
    z-index: 2;
    line-height: 0.8;
}

.loading {
    display: none;
}

.loading.active {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading span {
    position: relative;
    width: 20px;
    height: 5px;
}

.loading span::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #0f0;
    box-shadow: 0 0 5px #0f0,
        0 0 15px #0f0,
        0 0 30px #0f0,
        0 0 50px #0f0;
    animation: animate 8s linear infinite;
    animation-delay: calc(var(--i) * 0.1s);
}

@keyframes animate {
    0% {
        transform-origin: 0 20px;
        filter: hue-rotate(0deg);
    }

    20% {
        transform: rotate(calc(-90deg * var(--i)));
    }

    60% {
        transform: rotate(calc(0deg * var(--i)));
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--header-color);
    padding: 5px;

    color: white;
}

.header-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Styles for the tabbed interface */
.tabs {
    display: flex;
    cursor: pointer;
    border-radius: 8px;
    position: fixed;
    bottom: 5px;
    /*left: 0;*/
    width: calc(100% - 2*5px);
    margin: 0 5px;
    background-color: var(--header-color);
    opacity: 0.95;
    
}

.tab {
    flex: 1;
    padding: 6px;
    display: grid;
    place-items: center;
    /*background-color: #ddd;*/
    /*border: 1px solid #ccc;
    box-shadow: -1px -5px 15px #ccc;*/
    border-radius: 8px;
    font-size: 25px;
    color: rgb(129, 129, 129);
    transition: 0.5s ease;
    height: 60px;
    & .text-small {
        font-size: 8px;
    }
    
}

.tab.active {
    /*background-color: #007BFF;*/
    transform: scale(1.1);
    /*font-size: 30px;*/
    color: rgb(235, 235, 235);
    filter: drop-shadow(0 0 3px rgba(216, 208, 208, 0.9));
    /*& .text-small {
        font-size: 16px;
    }*/
}

.tab-content {
    display: none;
    border: none;
    padding: 5px;
}

.tab-content.active {
    display: block;
    padding-bottom: 65px;
}

/* Add styles for crypto cards */
.crypto-cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.crypto-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    align-items: center;
}

.crypto-card {
    display: flex;
    min-width: 100%;
    border: 1px solid #EDEDED;
    border-radius: 8px;
    padding: 8px;
    background-color: #EDEDED;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05),
        0 2px 8px rgba(0, 0, 0, 0.05),
        0 2px 12px rgba(0, 0, 0, 0.05),
        0 2px 15px rgba(0, 0, 0, 0.05);


    & .icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .info {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    & .history {
        display: block;
    }
}

.main-text {
    font-size: 16px;
}
.subtext {
    font-size: 12px;
    color: #717171;
    line-height: 1.2;
}

.info-right {
    text-align: right;
}

.info-center {
    text-align: center;
}

.card-history-info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;

}

/* Add styles for the popup container and content */
.crypto-card .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.crypto-card .popup-content {
    background-color: #fff;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 99%;
    max-width: 800px;
    height: 100%;
    overflow-y: auto;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;

    & .icon {
        display: flex;
        align-items: start;
    }
}

.popup-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}


.crypto-card .popup-container.open {
    display: flex;
}

.crypto-card .popup-content.open {
    transform: translateY(0);
    animation: slideUp 0.3s forwards;

    & .crypto-card {
        margin: 8px 0;
    }
}

.crypto-card .popup-content.close {
    transform: translateY(100%);
    animation: slideDown 0.3s forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}

.popup-content .popup-close {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007BFF;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    transform: rotate(-315deg);
}

.popup-content .popup-close:hover {
    background-color: #ccc;
    transform: rotate(315deg);
}

.legend {
    width: 35%;

}

.legend-info {
    display: grid;
    grid-template-columns: 1fr 4fr;
    row-gap: 5px;
    margin-top: 5px;

    & .color-block-invested {
        width: 75%;
        background-color: #ff6384;
    }

    & .color-block-balance {
        width: 75%;
        background-color: #6e7eb3;
    }

    & .color-block-other {
        width: 75%;
        background-color: #ffcd56;
    }
}

.crypto-diagrams {
    display: flex;
    height: 100px;
    width: 70%;
}

.crypto-diagram {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    height: auto;
}

.up {
    color: rgb(25, 185, 25);
    font-weight: 600;
}

.down {
    color: rgb(228, 47, 47);
    font-weight: 600;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


/* Media Query for Larger Screens */
@media (max-width: 1584px) {
    .crypto-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
    }

    .crypto-card {
        width: 100%;
    }
}

@media (max-width: 1080px) {
    .crypto-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .crypto-card {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .crypto-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .crypto-card {
        width: 100%;
    }
}

@media (max-width: 530px) {
    .crypto-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 8px;
        margin: 0;
    }

    .crypto-card {
        width: 100%;
        padding: 5px;
    }



    .crypto-info {
        width: 100%;

        & .icon {
            align-items: center;
        }
    }
}



/* Hide the scrollbar but allow vertical scrolling */
/*body {
    overflow-y: hidden;
    /* Disable scrolling on the body */
/*}

/* Apply this to the specific container where you want to hide the scrollbar but keep scrolling */
/*.crypto-cards-container {
    overflow-y: auto;
    /* Enable vertical scrolling */
/*max-height: 90vh;
    /* Ensure the container doesn't grow beyond the viewport */
/*scrollbar-width: none;
    /* For Firefox */
/*}

/*.crypto-cards-container::-webkit-scrollbar {
    display: none;
    /* For WebKit-based browsers like Chrome */
/*}

/* You can do the same for any other scrollable container */
/*.tab-content {
    overflow-y: auto;
    /* Allow scrolling in tab content */
/*max-height: 100vh;
    /* Fit the content inside the viewport */
/*scrollbar-width: none;
}

.tab-content::-webkit-scrollbar {
    display: none;
}*/

.notification {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.notification.error {
    background-color: #fcc;
    border-color: #f00;
}

.crypto-form {
    display: grid;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid #EDEDED;
    border-radius: 8px;
    padding: 8px;
    background-color: #EDEDED;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05),
        0 2px 8px rgba(0, 0, 0, 0.05),
        0 2px 12px rgba(0, 0, 0, 0.05),
        0 2px 15px rgba(0, 0, 0, 0.05);
}

.form-group {
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 2px;
    font-weight: 600;
}

input[type="number"],
input[type="date"],
select {
    color: #282c34;
    font-size: 12px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.2s;
}

.dropdown select {
    appearance: none;
    background-color: #fff;
    color: #333;
}

.dropdown select:focus,
input[type="number"]:focus,
input[type="date"]:focus,
select:focus {
    border-color: #007bff;
    outline: none;
    font-size: 12px;
    /* Change the font size if needed */
}

button.btn {
    padding: 8px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button.btn:hover {
    background-color: #0056b3;
}
